.input_bar {
    width: 100%;
    display: flex;
    flex: 1;
    height: 60px;
    flex-direction: row;
    align-items: stretch;

}

.input_bar input {
    display: flex;
    flex: 1;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.input_bar button {
    background: #267af8;
    padding: 0 15px;
    border-radius: 4px;
    border: 0;
    color: #fff;
    font-weight: bold;
}

.input_bar button:hover {
    background: #1b5bbb;
}

.input_bar button:disabled {
    background-color: #a6b8d3;
}